* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    z-index: 2;
}
body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.uiContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #1f1f1f;
}

#mask {
    display: none;
    width:100%;
    height:100vh;
    background-color:rgba(10,10,10,0.5);
    z-index:3;
}

#gameCanvas {
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.logo_main {
    position: absolute;
    text-align: center;
    margin:auto;
    left: 0;
    right: 0;
    top: 20px;
    width: 560px;
    height: 180px;
    /* border: solid 1px black; */
}

.logo_main img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}

#message_main {
    display:none;
    position:absolute;
    top: 320px;
    left:0;
    right:0;
    text-align:center;
    color: rgb(140,255,255);
}

.logo_small {
    display: none;
    width: 150px;
    height: 90px;
    position: absolute;
    top: 10px;
    left: 10px;
    border: solid 1px black;
}

.logo_small img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}

/* 센터윈도우 */
.center_window {
    display: none;
    position: absolute;
    text-align: center;
    top: 360px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 240px;
    transition: opacity 1s ease-in-out;
    /* border: solid 1px; */
}

/* 로그인화면 */
.login {
    position:relative;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    color:#fff;
}

/* 인풋박스 */
.inputBox {
    text-align:left;
    margin-top: 20px;
    height: 30px;
    width: 300px;
    color: #fff;
    font-size: 16px;
    background-color: rgb(40, 130, 150);
    border-radius: 10px;
    border:rgb(140, 255, 255) 2px solid;
    box-shadow: 0 0 10px rgb(140, 244, 251);
}

.inputBox_dying {
    text-align: center;
    width: 250px;
    background-color: #2f2f2f;
    border:rgb(255, 140, 255) 2px solid;
    box-shadow: 0 0 10px rgb(255, 160, 255);
}

.inputBox::placeholder {
    font-size: 16px;
    color:rgb(140, 244, 251);
}

/* 버튼 */
.buttonC {
    width: 80px;
    height: 30px;
    font-size: 16px;
    color: white;
    background-color: rgb(40, 130, 150);
    border-radius: 2px;
    border:rgb(140, 255, 255) 3px solid;
    cursor:pointer;
}

.loginButton {
    position:absolute;
    text-align:center;
    cursor: pointer;
    left: 10px;
    bottom: 10px;
    width: 80px;
    height: 30px;
    font-size: 16px;
    color: white;
    background-color: #1f1f1f;
    border-radius: 2px;
    border:rgb(140, 255, 255) 3px solid;
}
.signupButton {
    position:absolute;
    text-align:center;
    right: 10px;
    bottom: 10px;
}

#logout {
    margin-top: 80px;
}

.confirmButton_signup {
    position:absolute;
    width: 80px;
    height: 30px;
    right: 10px;
    bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    color: white;
    background-color: rgb(40, 130, 150);
    border-radius: 2px;
    border:rgb(140, 255, 255) 3px solid;
}

.backButton_signup {
    position:absolute;
    width: 80px;
    height: 30px;
    left: 10px;
    bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    color: white;
    background-color: #2f2f2f;
    border-radius: 2px;
    border:rgb(255, 140, 255) 3px solid;
}

.confirmButton_gameover {
    position:absolute;
    width: 120px;
    height: 30px;
    right: 20px;
    bottom: 16px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    color: white;
    background-color: #2f2f2f;
    border-radius: 2px;
    border:rgb(140, 255, 255) 3px solid;
}



/* 회원가입화면 */
.signup {
    display: none;
    width: 100%;
    height: 100%;
    color:#fff;
}
/* 게임오버 */
.gameover {
    display: none;
    position:relative;
    width: 100%;
    height: 120%;
    color: rgb(255, 140, 255);
    border-radius: 20px;
    background-color: #2f2f2f;
    border: rgb(255, 140, 255) 3px solid;
    box-shadow: 0 0 10px rgb(255, 160, 255);
}


/*상세프로필 윈도우*/
#profile_window {
    display: none;
    position:absolute;
    width:500px;
    height: 400px;
    top:240px;
    left:50%;
    transform:translateX(-50%);
    z-index:4;
}

/* 시작버튼 */
.button1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(140, 255, 255);
    font-size: 18px;
    cursor: pointer;
    transition: opacity 1s ease-in-out;
    border-radius: 20px;
    background-color: #1f1f1f;
    border:rgb(140, 255, 255) 3px solid;
}

.startButton {
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 50px;
    color: rgb(140, 255, 255);
    font-size: 18px;
    cursor: pointer;
    transition: opacity 1s ease-in-out;
    border-radius: 20px;
    background-color: #1f1f1f;
    border:rgb(140, 255, 255) 3px solid;
}

/* 사이드바 */
.sb_table td {
    font-size: 16px;
    height: 30px;
}

.box {
    border-radius: 4px;
    padding-top: 10px;
    text-align: center;
    color:rgb(140, 255, 255);
    background-color: rgba(40, 130, 150, 0.3);
    border:rgb(140, 255, 255) 3px solid;
    /* box-shadow: inset 0 0 20px rgb(140, 244, 251); */
    box-shadow: 0 0 10px rgb(140, 244, 251);
}

.content_box {
    position:absolute;
    overflow:hidden;
    margin-top: 10px;
    width: 90%;
    height: 134px;
    bottom: 10px;
}
.content_box:hover {
    background-color: rgba(10,10,10, 0.3);
}

.leaderboard {
    position: absolute;
    overflow: hidden;
    top: 20px;
    right: 20px;
    width: 200px;
    height: 360px;
}
#lb_table {
    border-collapse:collapse;
    width:90%;
    margin: auto;
}
#lb_table td {
    border-bottom: 1px solid rgb(140, 180, 190);
    height: 36px;
}
#lb_table tr:last-child td {
    border-bottom:none;
}

.death_log {
    position: absolute;
    bottom: 60px;
    left: 20px;
    width: 320px;
    height: 240px;
}
#dl_table {
    width:90%;
    text-align:left;
    margin-left:10px;
}
#dl_table td {
    color: rgb(255, 140, 255);
    height: 20px;
}

.notice {
    position: absolute;
    bottom: 200px;
    right: 20px;
    width: 200px;
    height: 290px;
}

.misc_board {
    position: absolute;
    text-align:center;
    bottom: 240px;
    left: 20px;
    width: 200px;
    height: 210px;
} 
.misc_board h2{
    color: rgb(140,255,255);
}

.site_card {
    position:absolute;
    width: 90px;
    height: 90px;
    bottom:6%;
    right: 30px;
}
.site_card img {
    width:100%;
    height:100%;
}

.hr_big {
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    border: 1px solid;
    color: rgb(235,235,210);
}


/* 사이드바의 끝 */

footer {
    position: fixed;
    width: 600px;
    height: 40px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #333; */
    color: white;
    display: flex;
    align-items:center;
    justify-content:center;
}