.notice {
    position: absolute;
    bottom: 150px;
    right: 20px;
    width: 200px;
    height: 340px;
}
#nb_box {
    margin:0 auto;
    margin-top: 20px;
    padding: 6px;
    width:160px;
    height:200px;
    background-color: #2f2f2f;
    border: rgb(180, 240, 250) 1px solid;
}
#nb_box p {
    text-align:left;
}
#pb_button {
    display:none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 14px;
    width: 100px;
    height: 32px;
    background-color:rgb(40, 180, 190);
    color: rgb(235,250,250);
    box-shadow: 0 0 10px #2f2f2f;
}

/* 게시판 */
#pb_window {
    display:none;
    position:absolute;
    top: 20px;
    left: 50%;
    transform:translateX(-50%);
    width: 800px;
    height: 800px;
    background-color: rgba(40,130,150, 1);
    z-index:4;
}
#pb_window table{
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(235, 255, 255);
    border-collapse:collapse;
    font-size: 18px;
    width: 700px;
    text-align: center;
}
#pb_input{
    position: relative;
    top:-2px;
    border-radius: 0px;
}
#pb_window td {
    border-bottom: 2px solid rgb(140, 180, 190);
    height: 50px;
}
#pb_window tr:first-child td {
    cursor:auto;
    color: rgb(180, 240, 250);
    border-top: 3px solid rgb(140, 180, 190);
}
#pb_window tr:first-child td:hover {
    color:inherit;
}
#pb_window .pb_title {
    width: 70%;
    cursor: pointer;
}
#pb_window .pb_title:hover {
    color: rgb(140, 180, 190);
}
#pb_window .pb_id {
    width:15%;
}
#pb_window .pb_time {

}
#pb_back {
    position:absolute;
    left: 40px;
    bottom: 20px;
    color: rgb(255, 160, 255);
    background-color: #2f2f2f;
    border: rgb(255, 160, 255) 3px solid;
}
#pb_write {
    position: absolute;
    right: 40px;
    bottom: 20px;
    background-color: #2f2f2f;
}

/* 본문 */
#pb_read {
    display:none;
    position:absolute;
    top: 20px;
    left: 50%;
    transform:translateX(-50%);
    width: 800px;
    height: 800px;
    background-color: rgba(40,130,150, 1);
    z-index:4;
}
#pb_read > h2 {
    position: relative;
    left: 40px;
    width: 720px;
    height: 20px;
    text-align: left;
}
#pb_read_sub {
    display: flex;
    position: relative;
    left: 40px;
    width: 720px;
    height: 40px;
    color: rgb(140, 180, 190);
    border-bottom: 3px solid rgb(140, 180, 190);
}
#pb_read_content {
    position: relative;
    top: 20px;
    left: 40px;
    width: 720px;
    height: 500px;
    text-align: left;
    word-break:break-all;
    white-space: pre-wrap;
}
/* 주의문구 */
#pb_read .warning {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom: 60px;
}
/* 뒤로 */
#pb_read_back { 
    position:absolute;
    left: 40px;
    bottom: 20px;
    color: rgb(255, 160, 255);
    background-color: #2f2f2f;
    border: rgb(255, 160, 255) 3px solid;
}
/* 수정 */
#pb_read_edit {
    display:none;
    position: absolute;
    right: 140px;
    bottom: 20px;
    background-color: #2f2f2f;
}
/* 삭제 */
#pb_read_delete {
    display:none;
    position:absolute;
    right: 40px;
    bottom: 20px;
    color: rgb(255, 80, 100);
    background-color: #2f2f2f;
    border: rgb(255, 80, 100) 3px solid;
}

/* 글쓰기 */
#pb_post {
    display:none;
    position:absolute;
    top: 20px;
    left: 50%;
    transform:translateX(-50%);
    width: 800px;
    height: 800px;
    background-color: rgba(40,130,150, 1);
    z-index:4;
}
#pb_post input {
    border-radius: 0px;
}
#pb_post_title {
    position: absolute;
    left: 40px;
}
#pb_post_content {
    position: absolute;
    left: 40px;
    top: 70px;
    width: 720px;
    height: 500px;
    border-radius: 0px;
}
#pb_post_back {
    position:absolute;
    left: 40px;
    bottom: 20px;
    color: rgb(255, 160, 255);
    background-color: #2f2f2f;
    border: rgb(255, 160, 255) 3px solid;
}
#pb_post_confirm {
    position: absolute;
    right: 40px;
    bottom: 20px;
    background-color: #2f2f2f;
}