/* 상점 윈도우s*/
#shop_window {
    display:none;
    position:absolute;
    top: 240px;
    left: 50%;
    transform:translateX(-50%);
    width: 500px;
    height: 400px;
    background-color: rgba(40,130,150, 1);
    z-index:4;
}
#shop_window .card {
    display:inline-block;
    width: 100px;
    height: 140px;
    margin: 5px;
}
#shop_window .icon {
    width:100px;
    height:100px;
    background-color: rgba(10,10,10,0.2);
    border-radius:50%;
}
#shop_window p {
    margin-top: 8px;
}
#shop_window img {
    width:100%;
    height:100%;
    cursor:pointer;
}

/* 버튼 */
#shop_exit {
    position:absolute;
    left: 20px;
    bottom: 20px;
    color: rgb(255, 160, 255);
    background-color: #2f2f2f;
    border: rgb(255, 160, 255) 3px solid;
}
#shop_buy {
    display:none;
    position:absolute;
    right:20px;
    background-color: rgb(40,130,150);
    bottom: 20px;
}
/* 기타 */
.warning {
    color:whitesmoke;
}
#shop_window .warning {
    position:absolute;
    left:50%;
    bottom: 20px;
    transform: translateX(-50%);
    color:whitesmoke;
}
